
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản lý trung tâm tiếng anh</title>
</head>
<body>
    <div> 
        Trang dành cho người sử dụng
    </div>
</body>
</html>
