
@{
    ViewBag.Title = "XemThongTinGiaoVien";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-dark">
                            <div class="media">
                                <a href="#">
                                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="/Assets/images/icon/avatar-01.jpg">
                                </a>
                                <div class="media-body">
                                    <h2 class="text-light display-6">Mss Hoa</h2>
                                    <p>Giáo viên</p>
                                </div>
                            </div>
                        </div>


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="#">
                                    Mã : T010308
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    Trình độ : Thạc sĩ
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                    Giới tính : Nữ
                                </a>
                            </li>
                        </ul>

                    </section>
                </aside>
            </div>


            <div class="col-md-8">
                <div class="card">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile2" aria-selected="true">Thông tin cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="listclass-tab" data-toggle="tab" href="#listclass" role="tab" aria-controls="listclass" aria-selected="false">Danh sách lớp dạy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="timetable1-tab" data-toggle="tab" href="#timetable1" role="tab" aria-controls="timetable1" aria-selected="false">Lịch dạy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="salary-tab" data-toggle="tab" href="#salary" role="tab" aria-controls="salary" aria-selected="false">Lương</a>
                        </li>

                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="profile2" role="tabpanel" aria-labelledby="profile2-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">
                                    <div class="user-profile">
                                        Ngày sinh : 02/02/1989
                                    </div>
                                    <br />
                                    <div class="email">
                                        Email : MissHoa123@gmail.com
                                    </div>
                                    <br />
                                    <div class="address">
                                        Nơi ở : Hà Nội
                                    </div>
                                    <br />
                                    <div class="number">
                                        SĐT : 0169444995
                                    </div>
                                    <br />
                                    <div class="experience">
                                        Kinh nghiệm :

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="listclass" role="tabpanel" aria-labelledby="listclass-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="timetable1" role="tabpanel" aria-labelledby="timetable1-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">
                                    @RenderPage("~/Areas/Admin/Views/Shared/_partialViewThoiKhoaBieu.cshtml")
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="salary" role="tabpanel" aria-labelledby="salary-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>