
@using EnCentralManagement.Areas.Admin.Models;
@model ThongTinHocSinhModelView
@{
    ViewBag.Title = "XemThongTinHocSinh";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutMain.cshtml";
}

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-4">
                <aside class="profile-nav alt">
                    <section class="card">
                        <div class="card-header user-header alt bg-dark">
                            <div class="media">
                                <a href="#">
                                    <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="/Assets/images/icon/avatar-01.jpg">
                                </a>
                                <div class="media-body">
                                    <h2 class="text-light display-6 name">Nguyễn Văn Bình</h2>
                                    <p>Học sinh</p>
                                </div>
                            </div>
                        </div>


                        <ul class="list-group list-group-flush">
                            <li class="list-group-item code">
                                <a href="#">
                                    Mã : 
                                </a>
                            </li>
                            <li class="list-group-item class">
                                <a href="#">
                                    Lớp : 
                                </a>
                            </li>
                            <li class="list-group-item sex">
                                <a href="#">
                                    Giới tính : 
                                </a>
                            </li>
                        </ul>

                    </section>
                </aside>
            </div>


            <div class="col-md-8">
                <div class="card">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin cá nhân</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Phụ huynh</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#timetable" role="tab" aria-controls="timetable" aria-selected="false">Lịch học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#management" role="tab" aria-controls="management" aria-selected="false">Lớp học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false">Học phí</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">
                                    <div class="user-profile dobHS-detail">
                                        Ngày sinh : 
                                    </div>
                                    <br />
                                    <div class="email mailHS-detail">
                                        Email : 
                                    </div>
                                    <br />
                                    <div class="address diachiHS-detail">
                                        Nơi ở : 
                                    </div>
                                    <br />
                                    <div class="number sdtHS-detail">
                                        SĐT : 
                                    </div>
                                    <br />


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">
                                    <div class="user-profile namePH-detail">
                                        Họ tên : 
                                    </div>
                                    <br />
                                    <div class="user-profile">
                                        Quan hệ:
                                    </div>
                                    <br />
                                    <div class="email emailPH-detail">
                                        Email : 
                                    </div>
                                    <br />
                                    <div class="diachiPH-detail">
                                        Địa chỉ : 
                                    </div>
                                    <br />
                                    <div class="number sdtPH-detail">
                                        SĐT : 
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="timetable" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="management" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">


                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="card" style="margin: 10px;padding:10px">
                                <div class="column">


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    @{
        if(Model != null)
        {
            <script>
                var dataJson = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new
                          {
                              name = Model.hocsinh.HO_TEN,
                              dob = Model.hocsinh.NGAY_SINH,
                              sdt = Model.hocsinh.SO_DIENTHOAI,
                              diachi = Model.hocsinh.DIA_CHI,
                              mail = Model.hocsinh.EMAIL
                          }))

                    function setInformation() {
                        console.log("errrr");
                        $(".name").html(dataJson.name);
                        $(".dobHS-detail").html("Ngày sinh: " + dataJson.dob);
                        $(".mailHS-detail").val("Email: " + dataJson.mail);
                        $(".diachiHS-detail").val("Địa chỉ: " + dataJson.diachi)
                        $(".sdtHS-detail").val("SĐT: " + dataJson.sdt)
                        console.log($(".name"));
                }
                setInformation();

            </script>
        }
    }
</div>